


h1.Title {
    color: white;
    font-weight: bolder;
    font-size: 80px;
    
}

section.OP {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

section.OP img {
    display: flex;
    
    width: 65px;
    transition: transform 0.2 ease, 0.2s ease;
    cursor: pointer;
}

section.OP img:hover {

    transform: scale(1.1);
}

div.icon-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

div.icon-row-2 {
    display: flex;
    flex-direction: row;
    gap: 13px;
}